.property {
    display: flex;
}

.label {
    flex: 0 1 33.33%;
}

.number {
    background-color: oklch(68.47% 0.1479 237.32 / 0.33);
    padding-left: 2px;
    flex: 0 1 5em;
    margin-left: 2px;
    margin-bottom: 2px;
    border-radius: 3px;
}